<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NAURA</title>
    <style>
        body{
          background-color: #374649;
        }

        .HandT {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          }
    </style>


</head>
<body>
    <div class="HandT">
        <h3 style="color: #fff"><b> pH Value:  {{ph}}</b></h3>
        <hr>
        <h3 style="color: #fff"><b> Temperature:  {{temp}}</b></h3>
        <hr>

        <h3 style="color: #fff"><b> Light Intensity:  {{light}}</b></h3>
        <hr>

        <h3 style="color: #fff"><b> Water Level:  {{water}}</b></h3>
        <hr>

        <h3 style="color: #fff"><b> Humidity:  {{humidity}}</b></h3>       
    </div>



</body>
</html>